*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red:red;
    --blue:blue;
    --black:black;
    --green:green;
    --yellow:yellow;
    --grey:rgb(128, 128, 128, 0.3);
      --gradient2: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(227, 202, 202, 1) 100%);
    --gradient:linear-gradient(90deg,rgb(24, 24, 24) 6%, rgb(39, 38, 38) 36%, rgb(21, 21, 21) 83%);
}

body{
    background: var(--gradient2);
    scroll-behavior: smooth;
}

.header{
    /* border: 2px solid var(--red); */
    margin-left: 50px;
    font-size: 25px;
    display: flex;
 
}

.icon2{
    
}

.icon2:hover{
    background: var(--grey);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Youtube{
    color: white;
}

.icon{
    color: var(--red);
    fill: white;
    /* background: white; */
    /* border: black; */
}

.search-bar{
    margin-left: 35%;
}

.main-video{
    /* border: 2px solid var(--black); */
    height: 500px;
    width: 900px;
    margin-top: 80px;
    margin-left: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.image{
    height: 100%;
    width: 100%;
     background: var(--yellow);
    background-size: cover;
    background-position: bottom left;
    object-fit: cover;
}

.images{
    /* border: 2px solid white; */
    /* margin-top: 100px; */
    margin-right: 400px;
    width: 50%; 
    height: 100px;
    background: var(--yellow);
    background-size: cover;
}

.ui{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    /* border: 2px solid white; */
     position: sticky;
     margin-top: 130px;
      top: 50px;
     left: 50px;
     /* width: 50px; */
     /* height: 100%; */

     margin-left: 50px;
     /* gap: 10px; */
     /* margin: 0%; */
    }
    

.captions{
    color: white;
}

.creator{
    color: grey;
    margin-bottom: 20px;
}

.menu{
    color: gray;
    margin-right: 20px;
}
