*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
     --gradient2: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 1) 48%, rgba(0, 0, 0, 1) 100%);
     --red:red;
     --yellow:yellow;
     --white:white;
     --black:black;
}

body{
    background: var(--gradient2);
}

.box-holder{
    border: 2px solid var(--red);
     margin-left: 250px;
     display: flex;
     justify-content: center;
     /* align-items: center; */
}

.image-holders{
    background: var(--yellow);
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 380px;
    border-radius: 20px;
   
}

.title{
    color: var(--white);
}

.left-sidebar{
    border: 2px solid var(--white);
    color: white;
    margin-bottom: 400px;
}

.ui{
    display: flex;
}